@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-color: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
  --green: #32BF00;
  --red:#CC3300;
  --red-grad-title-one:#EF6C00;
  --red-grad-title-two:#DB6300;
  --orange:#FF6600;
  --white: #FFFFFF;
  --black: #000000;
  --font-black:#262A34;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--bg-color);
}

header,
main,
section,
footer {
  display: block;
}

.palpite_header {
  max-width: 1000px;
  width: 100%;
  padding: 30px 0;
  margin:0 auto;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.palpite_header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  background: linear-gradient(#EF6C00, #DB6300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palpite_header h1::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  margin:10px auto;
  background: #CFCFCF;
}

.palpite_info {
  display: flex;
  max-height: 40px;
  height: 100%;
  flex-direction: colum;
  width: 100%;
  text-align: center;
}
.palpite_info span {
  text-align: center;
  width: 100%;
  font-size: xx-large;
  color: var(--orange);
  font-family: 'Montserrat';
  font-weight: 700;
}
.palpite_info .erro {
  color: var(--red);
}
.palpite_info .acerto {
  color: var(--green);
}
.palpite_led {
  min-height: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.palpite_led .mostrador .hide {
  display: none;
}
.palpite_segments .mostrador{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.palpite_segments svg {
  display: inline-block;
  margin: 15px 5px;
}
.palpite_segments svg .segment {
  fill: rgba(0, 0, 0, 0.09);
  transition: 0.3s ease-in-out;
}
svg.num-1 .c,
svg.num-1 .b,
svg.num-2 .a,
svg.num-2 .b,
svg.num-2 .d,
svg.num-2 .e,
svg.num-2 .g,
svg.num-3 .a,
svg.num-3 .b,
svg.num-3 .c,
svg.num-3 .d,
svg.num-3 .g,
svg.num-4 .b,
svg.num-4 .c,
svg.num-4 .f,
svg.num-4 .g,
svg.num-5 .a,
svg.num-5 .c,
svg.num-5 .d,
svg.num-5 .f,
svg.num-5 .g,
svg.num-6 .a,
svg.num-6 .c,
svg.num-6 .d,
svg.num-6 .e,
svg.num-6 .f,
svg.num-6 .g,
svg.num-7 .a,
svg.num-7 .b,
svg.num-7 .c,
svg.num-8 .a,
svg.num-8 .b,
svg.num-8 .c,
svg.num-8 .d,
svg.num-8 .e,
svg.num-8 .f,
svg.num-8 .g,
svg.num-9 .a,
svg.num-9 .b,
svg.num-9 .c,
svg.num-9 .d,
svg.num-9 .f,
svg.num-9 .g,
svg.num-0 .a,
svg.num-0 .b,
svg.num-0 .c,
svg.num-0 .d,
svg.num-0 .e,
svg.num-0 .f {
  fill: var(--font-black);
}
#winner-palpite.num-1 .b,
#winner-palpite.num-1 .c,
#winner-palpite.num-2 .a,
#winner-palpite.num-2 .b,
#winner-palpite.num-2 .d,
#winner-palpite.num-2 .e,
#winner-palpite.num-2 .g,
#winner-palpite.num-3 .a,
#winner-palpite.num-3 .b,
#winner-palpite.num-3 .c,
#winner-palpite.num-3 .d,
#winner-palpite.num-3 .g,
#winner-palpite.num-4 .b,
#winner-palpite.num-4 .c,
#winner-palpite.num-4 .f,
#winner-palpite.num-4 .g,
#winner-palpite.num-5 .a,
#winner-palpite.num-5 .c,
#winner-palpite.num-5 .d,
#winner-palpite.num-5 .f,
#winner-palpite.num-5 .g,
#winner-palpite.num-6 .a,
#winner-palpite.num-6 .c,
#winner-palpite.num-6 .d,
#winner-palpite.num-6 .e,
#winner-palpite.num-6 .f,
#winner-palpite.num-6 .g,
#winner-palpite.num-7 .a,
#winner-palpite.num-7 .b,
#winner-palpite.num-7 .c,
#winner-palpite.num-8 .a,
#winner-palpite.num-8 .b,
#winner-palpite.num-8 .c,
#winner-palpite.num-8 .d,
#winner-palpite.num-8 .e,
#winner-palpite.num-8 .f,
#winner-palpite.num-8 .g,
#winner-palpite.num-9 .a,
#winner-palpite.num-9 .b,
#winner-palpite.num-9 .c,
#winner-palpite.num-9 .d,
#winner-palpite.num-9 .f,
#winner-palpite.num-9 .g,
#winner-palpite.num-0 .a,
#winner-palpite.num-0 .b,
#winner-palpite.num-0 .c,
#winner-palpite.num-0 .d,
#winner-palpite.num-0 .e,
#winner-palpite.num-0 .f {
  /*fill: #e30909;*/
  fill: var(--green);
}
#erro-palpite.num-1 .b,
#erro-palpite.num-1 .c,
#erro-palpite.num-2 .a,
#erro-palpite.num-2 .b,
#erro-palpite.num-2 .d,
#erro-palpite.num-2 .e,
#erro-palpite.num-2 .g,
#erro-palpite.num-3 .a,
#erro-palpite.num-3 .b,
#erro-palpite.num-3 .c,
#erro-palpite.num-3 .d,
#erro-palpite.num-3 .g,
#erro-palpite.num-4 .b,
#erro-palpite.num-4 .c,
#erro-palpite.num-4 .f,
#erro-palpite.num-4 .g,
#erro-palpite.num-5 .a,
#erro-palpite.num-5 .c,
#erro-palpite.num-5 .d,
#erro-palpite.num-5 .f,
#erro-palpite.num-5 .g,
#erro-palpite.num-6 .a,
#erro-palpite.num-6 .c,
#erro-palpite.num-6 .d,
#erro-palpite.num-6 .e,
#erro-palpite.num-6 .f,
#erro-palpite.num-6 .g,
#erro-palpite.num-7 .a,
#erro-palpite.num-7 .b,
#erro-palpite.num-7 .c,
#erro-palpite.num-8 .a,
#erro-palpite.num-8 .b,
#erro-palpite.num-8 .c,
#erro-palpite.num-8 .d,
#erro-palpite.num-8 .e,
#erro-palpite.num-8 .f,
#erro-palpite.num-8 .g,
#erro-palpite.num-9 .a,
#erro-palpite.num-9 .b,
#erro-palpite.num-9 .c,
#erro-palpite.num-9 .d,
#erro-palpite.num-9 .f,
#erro-palpite.num-9 .g,
#erro-palpite.num-0 .a,
#erro-palpite.num-0 .b,
#erro-palpite.num-0 .c,
#erro-palpite.num-0 .d,
#erro-palpite.num-0 .e,
#erro-palpite.num-0 .f {
  /*fill: #e30909;*/
  fill: var(--red);
}

#palpite_new_game {
  /*background-color: #15ff00;*/
  font-family: 'Roboto';
}
#palpite_new_game.d-none {
  display: none;
}


#palpite_new_game button {
  margin-top: 3rem;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border: transparent;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(180deg, #434854 0%, #9E9E9E 100%);
  padding: 12px 12px;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-size: 12px;
}

.palpite_form {
  margin-top: 6.25rem !important;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.palpite_form input {
  width: 300px;
  border:1px solid var(--orange);
  border-radius: 4px;
  line-height: 14px;
  padding: 14px 12px;
  color:#9E9E9E;
}
.palpite_form button {
  border: 1px solid var(--orange);
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(180deg, #EF6C00 0%, #C0661C 100%);
  padding: 14px 12px;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
}

.palpite_form input:disabled,
.palpite_form button:disabled {
  cursor: not-allowed;
  border: 1px solid #CFCFCF;
  background: #CFCFCF;
}

#debug {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}

@media (max-width: 768px) {
  .palpite_header h1 {
    font-size: 2.3rem;
  }
  .palpite_form {
    max-width: 298px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 78px;
    gap: 10px;
  }
  .palpite_form input {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .palpite_header h1 {
    font-size: 1.8rem;
  }
}